<std-header [title]="{text: 'Scanner'}">
  <div #content>
    <div class="main-title">
      <ion-label class="lbl">Local:</ion-label>
      <ion-label slot="end" id="open-modal-local" class="btn">Selecionar <ion-icon name="chevron-forward-outline" color="warning" ></ion-icon></ion-label>
    </div>
    <ion-label  *ngIf="selectedLocalResourceLocal != null" class="selected-local"> {{ selectedLocalResourceLocal.nome }} </ion-label>

    <div class="main-title">
      <ion-label class="lbl">Tipo movimento:</ion-label>
      <ion-label slot="end" id="open-modal-tipo-movimento" class="btn">Selecionar <ion-icon name="chevron-forward-outline" color="warning" ></ion-icon></ion-label>
    </div>
    <ion-label  *ngIf="selectedLocalResourceMovimento != null" class="selected-local"> {{ selectedLocalResourceMovimento.nome }} </ion-label>

  </div>
  <div class="btns">
    <ion-button class="btn" expand="block" fill="solid" color="dark" (click)="scan()">
      <ion-icon name="scan-outline"></ion-icon>
      scanner
    </ion-button>
    <ion-button class="btn" expand="block" fill="solid" color="primary" (click)="movimentar()" [disabled]="!selectedLocalResourceLocal || !selectedLocalResourceMovimento">
      <ion-icon name="send-outline"></ion-icon>
      Movimentar
    </ion-button>
  </div>
  <div class="main-title">
    <ion-label >Items: {{barcodes.length}}</ion-label>
  </div>
</std-header>

<ion-content [fullscreen]="true">


  <ion-modal trigger="open-modal-local" (willDismiss)="onModalDismissLocal($event)">
    <ng-template>
      <app-seleciona-local-modal></app-seleciona-local-modal>
    </ng-template>
  </ion-modal>

  <ion-modal trigger="open-modal-tipo-movimento" (willDismiss)="onModalDismissMovimento($event)">
    <ng-template>
      <app-tipo-movimento-modal></app-tipo-movimento-modal>
    </ng-template>
  </ion-modal>

  <ion-list class="limited-list" [inset]="true" *ngIf="barcodes.length != 0">
    <div class="curriculcum-list" *ngFor="let barcode of barcodes; let i = index">
      <div class="curriculcum-content-data" >
        <div class="prefix">
          <ion-label class="lbl">
            <ion-icon name="qr-code-outline" slot="icon-only"></ion-icon>
          </ion-label>
          <div class="name-content">
            <ion-label> {{ barcode }}</ion-label>
          </div>
        </div>
        <ion-button fill="clear" slot="end" color="medium" (click)="removeBarcode(i)">
          <ion-icon name="close-outline"></ion-icon>
        </ion-button>

      </div>
    </div>
  </ion-list>


</ion-content>
