<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <!--      <ion-button color="dark">-->
      <!--        <ion-icon slot="icon-only" src="assets/icon/menu.svg"></ion-icon>-->
      <!--      </ion-button>-->
    </ion-buttons>
    <ion-title>Scanner</ion-title>
    <ion-buttons slot="end">
      <!--      <ion-button color="dark">-->
      <!--        <ion-icon slot="icon-only" src="assets/icon/settings.svg"></ion-icon>-->
      <!--      </ion-button>-->
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar mode="ios"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list [inset]="true">
    <div class="curriculcum-list">
      <div class="curriculcum-content-data" >
        <div class="prefix">
          <ion-label class="lbl">
            <ion-icon slot="icon-only" src="assets/icon/home.svg"></ion-icon>
          </ion-label>
          <div class="name-content">
            <ion-label>teste</ion-label>
            <ion-label class="total-time"> yeste </ion-label>
          </div>
        </div>
      </div>

      <div class="curriculcum-content-data" >
        <div class="prefix">
          <ion-label class="lbl">
            <ion-icon slot="icon-only" src="assets/icon/home.svg"></ion-icon>
          </ion-label>
          <div class="name-content">
            <ion-label>teste</ion-label>
            <ion-label class="total-time"> yeste </ion-label>
          </div>
        </div>
      </div>

    </div>
  </ion-list>

  <ion-button expand="block" fill="solid" color="primary" (click)="scan()">
    scanner
  </ion-button>
</ion-content>
