<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title>Scanner</ion-title>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar mode="ios"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list [inset]="true">
    <div class="curriculcum-list" *ngFor="let barcode of barcodes">
      <div class="curriculcum-content-data" >
        <div class="prefix">
          <ion-label class="lbl">
            <ion-icon name="qr-code-outline" slot="icon-only"></ion-icon>
          </ion-label>
          <div class="name-content">
            <ion-label> {{ barcode }}</ion-label>
          </div>
        </div>
      </div>
    </div>
  </ion-list>

  <ion-button expand="block" fill="solid" color="primary" (click)="scan()">
    scanner
  </ion-button>
</ion-content>
