<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <!--      <ion-button color="dark">-->
      <!--        <ion-icon slot="icon-only" src="assets/icon/menu.svg"></ion-icon>-->
      <!--      </ion-button>-->
    </ion-buttons>
    <ion-title>Locais</ion-title>
    <ion-buttons slot="end">
      <!--      <ion-button color="dark">-->
      <!--        <ion-icon slot="icon-only" src="assets/icon/settings.svg"></ion-icon>-->
      <!--      </ion-button>-->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <std-list [dataSource]="dataSource"
            displayValue="nome"></std-list>
</ion-content>
