<std-header
  [title]="{text: 'Tipos de Movimento', count: dataSource.items.length }"
  [dataSource]="dataSource"
  [buttonLeft]="{ iconName: 'arrow-back-outline', action: navigateTo}"
></std-header>

<ion-content>
  <std-list [dataSource]="dataSource"
            [itemList]="{title: 'nome', icon: 'swap-horizontal-outline'}">
  </std-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="novoTipoMovimentacao()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

