<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="mover-local" href="/mover-local">
      <ion-icon aria-hidden="true" name="file-tray-full-outline"></ion-icon>
      <ion-label>Movimentar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="scanner" href="/tabs/scanner">
      <ion-icon aria-hidden="true" name="barcode-outline"></ion-icon>
      <ion-label>Scanner</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="preferencia" href="/tabs/preferencia">
      <ion-icon aria-hidden="true" name="settings-outline"></ion-icon>
      <ion-label>Preferências</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
