ion-content {
  display: block;
  height: 85vh; /* Viewport height (100% da altura da tela) */
}


.subtitle {
  font-size: 12px;
  font-family: 'bold';
  color: var(--ion-color-primary);
  text-align: start;
}


