<ion-list [inset]="true">
  <div class="curriculcum-list">
    <div class="curriculcum-content-data" *ngFor="let resource of dataSource.items">
      <div class="prefix">
        <ion-label class="lbl">
          <ion-icon *ngIf="itemList.icon" slot="icon-only" [name]="itemList.icon"></ion-icon>
        </ion-label>
        <div class="name-content">
          <ion-label>{{ resource[itemList.title] }}</ion-label>
          <ion-label *ngIf="itemList.subTitle" class="subtitle"> {{ resource[itemList.subTitle] }}</ion-label>
        </div>
      </div>
    </div>
  </div>
</ion-list>
<ion-infinite-scroll threshold="100px" (ionInfinite)="onIonInfinite($event)">
  <ion-infinite-scroll-content loadingText="Carregando..." loadingSpinner="bubbles"></ion-infinite-scroll-content>
</ion-infinite-scroll>
