.card-content {
  width: 100%;
  padding: 10px;
  margin-inline: 0px;
  margin: 10px 0px;

  .title {
    margin: 5px 0px;
    font-size: 14px;
    font-family: 'semi-bold';
    color: var(--ion-color-dark);
    text-align: start;
  }

  .subject {
    font-size: 12px;
    font-family: 'regular';
    color: var(--ion-color-medium);
    text-align: start;
  }

  .bottom-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0px;

    .content {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      ion-icon {
        font-size: 12px;
      }

      .lbl {
        font-size: 10px;
        font-family: 'regular';
        color: var(--ion-color-medium);
        text-align: start;
        margin: 0px 5px;
      }
    }
  }
}
