<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start" *ngIf="buttonLeft">
      <ion-button class="btn" (click)="buttonLeft.action()">
        <ion-icon *ngIf="buttonLeft.iconName" [name]="buttonLeft.iconName"></ion-icon>
        {{buttonLeft.text? buttonLeft.text : null}}
      </ion-button>
    </ion-buttons>
    <ion-title> {{ title.count ? title.text + '(' + title.count + ')' : title.text}}</ion-title>
    <ion-buttons slot="end" *ngIf="buttonRight">
      <ion-button class="btn" *ngIf="buttonRight.text" (click)="buttonRight.action()">
        <ion-icon *ngIf="buttonRight.iconName" [name]="buttonRight.iconName"></ion-icon>
        {{buttonRight.text}}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="dataSource">
    <std-searchbar [dataSource]="dataSource"></std-searchbar>
  </ion-toolbar>
  <ion-toolbar *ngIf="hasContent">
    <ng-content></ng-content>
  </ion-toolbar>
</ion-header>
